.columnImg{
  width: 45%;
  }
  .columnDescripcion{
  width: 50%;
  margin: 4px;
  align-content: center;
  
  }
  .contImgProject{
    max-width: 420px;
    
  }
  .descripProject{
    text-decoration: underline;

  }
  a.btn-link{
    border-radius: 20px;
    background-color: #F4031B;
    padding: 4px 30px;
   margin: 8px auto;
    cursor: pointer;
    display: flex;
    width: 16em;
    text-decoration: underline;
  color: #C5BAAA;
  
  }
  a.btn-link:hover{
    color: #242424;

  }
  .column3{
    width: 45%;
    margin: 12px;
    
  }
  .listaProjects{
    text-align: justify;
    background-color: #242424;
padding: 20px
  }
  .decorationText{
    text-decoration-line: underline;
    text-decoration-color: #F4031B;

  }
  img.got {
    top: 50px;
    margin: 50px 0;
}
.circleTec{
  border-radius: 2px;
  background-color: #242424;
  margin: auto 8px;

}